<!DOCTYPE html>
<html>
<head>
    <title>Junaid Deadly Fight Club </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Junaid Fighting Club 2026 🥊</h1>

    <div class="container">
        {% for fighter in fighters %}
        <div class="card">
            <h2>{{ fighter.name }}</h2>
            <p>Wins: {{ fighter.wins }}</p>
            <p>Losses: {{ fighter.losses }}</p>
            <p>Weight Class: {{ fighter.weight }}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>
